@model IEnumerable<CheckoutModel>
@{
    ViewData["title"] = "Hiển thị đơn hàng";
}
<h4>Danh sách danh mục</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Phone</th>
            <th scope="col">Note</th>
            <th scope="col">Trạng thái</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.Raw(@item.ProductsName)</td>
                <td>@item.Address</td>
                <td>@Html.Raw(@item.City)</td>
                <td>@Html.Raw(@item.Phone)</td>
                <td>@Html.Raw(@item.Note)</td>
                <td>
                    @if (@item.IsShipped == true)
                    {
                        <span class="text-area text-success">Đã gửi hàng</span>
                    }
                    else
                    {
                        <span class="text-area text-success">Chưa gửi hàng</span>
                    }
                </td>
                <td>
                    <form asp-action="UpdateStatus" asp-controller="Checkouts" method="post">
                        <input type="hidden" name="checkoutId" value="@item.Id" />
                        <button type="submit" name="isShipped" value="true" class="btn btn-warning btn-sm">Xác nhận</button>
                        <button type="submit" name="isShipped" value="false" class="btn btn-danger btn-sm">Hủy</button>
                    </form>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="Checkouts" asp-route-Id="@item.Id" class="btn btn-danger btn-sm confirmImportantDeletion">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>